
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}


#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
}


@media (max-width: 768px) {
  body {
    font-size: 0.95rem;
  }
}

